/* * {box-sizing:border-box} */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  width: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  /* font-weight: bold; */
  /* font-size: 18px; */
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
    font-size: small;
}

a {
    text-decoration: none;
    color: #555555;
}

li {
    list-style: none;
}


/* NAVBAR STYLING STARTS */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(16, 97, 163);
    color: #fff;
    height: 60px;
}

.nav-links a {
    color: #fff;
}


/* LOGO */

.logo {
    font-size: 32px;
}


/* NAVBAR MENU */

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: #db3d16;
    border-radius: 20px;
    height: 40px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}


/* styling search bar */

.search input[type=text] {
    width: 300px;
    height: 35px;
    border-radius: 5px;
    border: none;
    margin-top: -10px;
}

.search {
    float: right;
    margin: 7px;
}

.search button {
    background-color: #060e14;
    color: #f2f2f2;
    float: right;
    padding: 15px 20px;
    margin-right: 12px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

p {
    margin-top: 30px;
}

.header {
    text-align: center;
    font-size: 30px;
    margin-bottom: 55px;
    padding-top: 50px;
}

/* @import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
} */

body {
    background: #eedfcc;
    color: #555555;
    font-size: 14px;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    margin: 20px auto;
    border-radius: 20px;
}

.aling {
    margin-left: 180px;
    /* border-radius: 10px; */
}

#cen {
    /* text-align: center; */
    margin-left: 50%;
}

.cards_wrap {
    display: flex;
    flex-wrap: wrap;
}

.cards_wrap .card_item {
    width: 25%;
    padding: 10px;
    border-radius: 10px;
}

.cards_wrap .card_inner {
    background: #eedfcc;
}

.cards_wrap .card_top {
    width: 100%;
    min-height: 225px;
    padding: 10px;
    padding-bottom: 0;
}

.cards_wrap .card_bottom {
    padding: 15px;
}

.cards_wrap .card_bottom .card_price {
    text-transform: uppercase;
    text-align: center;
}

.cards_wrap .card_bottom .card_info {
    padding: 15px;
    margin: 10px 0;
    border: 1px dashed #0071bc;
}

.cards_wrap .card_bottom .card_info .title {
    color: #0071bc;
    font-size: 18px;
    margin-bottom: 5px;
}

.cards_wrap .card_bottom .card_creator {
    text-align: center;
}

@media (max-width: 1024px) {
    .cards_wrap .card_item {
        width: 33.3%;
    }
}

@media (max-width: 768px) {
    .cards_wrap .card_item {
        width: 50%;
    }
}

@media (max-width: 528px) {
    .cards_wrap .card_top {
        height: auto;
    }
    .cards_wrap .card_item {
        width: 100%;
    }
}

p {
    text-align: center;
}

.center {
    
    margin-right: 180px;
    margin-top: 30px;
    padding-top: 10px;
}

.brands {
    margin-top: 40px;
    margin-left: 360px;
    color: #060e14;
}

.brandlogo {
    margin-left: -330px;
    padding-top: 30px;
}

.surprice {
    margin-top: 20px;
    margin-left: -180px;
}



#logo {
    align-content: center;
    margin-left: 500px;
}

.hr {
    margin-left: 500px;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 60px 0;
    /* min-height: 100vh;*/
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.contact-area {
    border-bottom: 1px solid #0e3a50;
    margin-left: -190px;
    margin-top: 50px;
}

.contact-content p {
    font-size: 15px;
    margin: 30px 0 60px;
    position: relative;
}

.contact-content p::after {
    background: #353C46;
    bottom: -30px;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 80%;
}

.contact-content h6 {
    color: #8b9199;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

.contact-content span {
    color: #353c47;
    margin: 0 10px;
}

.contact-content img {
    max-width: 210px;
}

section,
footer {
    background: #1A1E25;
    color: #868c96;
    margin-left: -200px;
    margin-top: -31px;
}

footer p {
    padding: 40px 0;
    text-align: center;
}

footer img {
    width: 44px;
}

.wrapper {
    border-radius: 10px;
}

.profile {
    display: flex;
    padding: 10px;
    margin-top: 50px;
    margin-left: -320px;
}

.profile:hover {
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.energy {
    margin-top: 50px;
    color: wheat;
}