* {
    margin: 0px;
    padding: 0px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(16, 97, 163);
    color: #fff;
}

* {
    margin: 0px;
    padding: 0px;
}

.nav-links a {
    color: #fff;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.parent {
    margin-right: 30px;
    background-color: #ddd4d2;
    margin-top: -30px;
    border: #221917;
    border-radius: 10px;
    height: 450px;
    background: #abbaab;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #abbaab);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #abbaab);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.backgroundimage {
    margin-top: 50px;
}


/* LOGO */

.logo {
    font-size: 32px;
}


/* NAVBAR MENU */

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: #db3d16;
    border-radius: 20px;
    height: 40px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}


/* styling search bar */

.search input[type=text] {
    width: 300px;
    height: 35px;
    border-radius: 5px;
    border: none;
}

.card_bottom {
    margin-top: -260px;
    margin-left: 400px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

.search {
    float: right;
    margin: 7px;
}

button {
    height: 50px;
    width: 100px;
    border-radius: 50px;
    background: linear-gradient(145deg, #3384db, #3d9dff);
    box-shadow: 7px 7px 14px #307dcf, -7px -7px 14px #42a9ff;
    border-color: black;
    padding: 5px 14px;
}

button:hover {
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.footer {
    /* margin: 0px; */
    padding: 0px;
    margin-top: 50px;
    /* border-radius: 15px; */
    width: 1400px;
    margin-left: -30px;
}